{
  "semi": true,
  "tabWidth": 2,
  "endOfLine": "lf",
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "printWidth": 100
}
